body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  color: #2965A8;
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #EAEAEA;
}

input {
  width: 100%;
}

.container {
  padding: 20px;
}

.add-sort {
  padding-top: 5px;
  font-weight: bold;
}

.list {
  padding: 10px;
  border-left: 1px solid #d5d8df;
  border-right: 1px solid #d5d8df;
  border-bottom: 1px solid #d5d8df;
}

.list-item {
  padding: 10px;
  border-bottom: 1px dashed #d5d8df;
}

.info {
  padding-top: 10px;
  font-size: small;
  color: #7F7F7F;
}

.vote-edit-delete {
  float: right;
}

.post-detail {
  border-left: 1px solid #d5d8df;
  border-right: 1px solid #d5d8df;
}

.comment-header {
  padding-left: 5px;
}

.input-title {
  font-weight: bold;
}